.success_image_wrapper {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background-size: cover
	background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Blue_check_PD.svg/1024px-Blue_check_PD.svg.png') no-repeat 0 0;
}