.success_image_wrapper {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: url(./images/check_image.png) no-repeat 0 0;
	background-size: contain;
}
.go_to_dashboard_btn {
	display: inline-block;
	width: 150px;
	height: 40px;
	color: #003F7F;
	margin: 0 auto;
	text-decoration: none;
	font-weight: bold;
	border: 2px solid #003F7F;
	padding: 10px 0;
	border-radius: 7px;
}
